{% extends 'Volunteers/volunteerbase.html' %} 
{% load static %}


{% block content %}
<section class="bg-light d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">  <!-- Increased column width to fit image and content -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 text-center"> 
                        {% for item in volunteer %}
                        {% if item.user_id == user.id %}
                        <!-- Placeholder image -->
                        <img src="{% static 'vol_image.url' %}" height="400" width="400" alt="Profile Image">
                    </div>
                    <div class="col-lg-6 px-xl-10">
                        <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                           
                            <h3 class="h2 text-white mb-0">{{item.full_name}}</h3>
                            <span class="text-primary">Volunteer</span>
                        </div>
                        <ul class="list-unstyled mb-1-9">
                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">First Name:</span> {{item.full_name}}</li>
                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Gender:</span> {{item.gender}}</li>
                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email ID:</span> {{request.user.email}}</li>
                            <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone No:</span>{{item.phone}}</li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
