{% extends 'Volunteers/volunteerbase.html' %}
{% load static %}

{% block content %}
<div class="table">
  <div class="table-responsive">
    <table class="table txt">
      <thead>
        <tr>
          <th scope="col">Sl No</th>
          <th scope="col">Requester Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Resource Type</th>
          <th scope="col">Quantity</th>
          <th scope="col">Request Details</th>
          <th scope="col">Delivery Address</th>
          <th scope="col">Urgency Level</th>
          <th scope="col">Requested By Date</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ task.resourceRequest.requester_name }}</td>
          <td>{{ task.resourceRequest.requester_phone }}</td>
          <td>{{ task.resourceRequest.get_resource_type_display }}</td>
          <td>{{ task.resourceRequest.quantity }}</td>
          <td>{{ task.resourceRequest.request_details }}</td>
          <td>{{ task.resourceRequest.delivery_address }}</td>
          <td>{{ task.resourceRequest.get_urgency_level_display }}</td>
          <td>{{ task.resourceRequest.requested_by_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
