{% extends 'ReliefCamps/campbase.html' %}
{% load static %}

{% block content %}
<section class="bg-light d-flex justify-content-center align-items-center" style="height: 100vh; padding-top: 12px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="card mt-3">

                            {% for item in camp %}
                            {% if item.user_id == user.id %}
                            {% if item.camp_image %}
                            <img src="{{ item.camp_image.url }}" alt="Admin" class="rounded-circle" width="150">
                            {% else %}
                            <img src="{% static 'images/placeholder.png' %}" alt="Admin" class="rounded-circle" width="150">
                            {% endif %}
                                <span class="text-primary">Relief Camp</span>
                                <p class="text-secondary mb-1">Relief Camp</p>
                                <p class="text-muted font-size-sm">{{ item.address }}</p>
                                <button class="btn btn-primary">Add affected people details</button>
                                <a href="{% url 'RequestForm' %}" class="btn btn-outline-primary">Request Resources</a>
                                {% endif %}
                        {% endfor %}
                        {% if not organisation %}
                            <p>No organisation information available.</p>  <!-- Handle case when no organisation is found -->
                        {% endif %}
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extrascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock extrascript %}
