{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
      <div class="wrapper">
        <h1><a href="index" id="logo">Rescue Hub</a></h1>

        <nav>
          <img src="{% static 'images/logo.png' %}" alt="Image placeholder", style="width: 150px; height: auto; position: absolute; top: 0; left: 0; margin: 0px;">
          <ul id="menu">
            <li id="menu_active"><a href="index">Home</a></li>
            <li><a href="mission">Our Mission</a></li>
            <li><a href="news">News &amp; Press</a></li>
            <li><a href="help">How to Help</a></li>
            <li><a href="login">Login</a></li>
          </ul>
        </nav>
      </div>
            <!-- your pages will load here -->
            {% block content %}
          
            {% endblock content %}

            {% block extrascript %}
            {% endblock extrascript %}
    </body>
</html>