{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        
        {% block extrahead %}
<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
<link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
<link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}">
<link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
{% endblock extrahead %}


    </head>
    <!-- <body>
      <div class="wrapper">
        <h1><a href="index" id="logo">Rescue Hub</a></h1>

        <nav>
          <!-- <img src="{% static 'images/logo.png' %}" alt="Image placeholder", style="width: 150px; height: auto; position: absolute; top: 0; left: 0; margin: 0px;"> -->
          <!-- <ul id="menu">
            <li id="menu_active"><a href="index">Home</a></li>
            <li><a href="mission">mission</a></li>
            <li><a href="news">News &amp; Press</a></li>
            <li><a href="help">How to Help</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            
          </ul>
        </nav>
      </div>  -->
            <!-- your pages will load here -->
            {% block content %}
          
            {% endblock content %}

            
    </body>
</html>