{% load static %}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Signup Form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
</head>
<body style="background-image: url({% static 'images\1.png' %});>
    <section class="wrapper">
        <div class="form signup">
            <header>Login</header>
            <form method="POST" action="{% url 'login_access' %}">
                {% csrf_token %}
                <input type="text" placeholder="Email address" name = "email" required />
                <input type="password" placeholder="Password" name = "password" required />
                <div class="form-group">
                    <select class="" style="height: 50px;
                        outline: none;
                        border: none;
                        margin-top: 0px;
                        padding: 0 10px;
                        font-size: 16px;
                        font-weight: 400;
                        color: #333;
                        border-radius: 8px;
                        background: #fff;" name = "role">
                        <option class="hidden"  selected disabled>Select User Type</option>
                        <option>Volunteer</option>
                        <option>Organisation</option>
                        <option>Relief Camp</option>
                    </select>
                    
                </div>
                {% comment %} <a href="#">Forgot password?</a> {% endcomment %}
                <input type="submit" value="Login" />
                
            </form>
        </div>
        <div class="form login">
            <header>Signup</header>
        </div>

        <script>
            // Define the elements
            const wrapper = document.querySelector(".wrapper"),
                  signupHeader = document.querySelector(".login header"),
                  loginHeader = document.querySelector(".signup header");

            // Event listener for loginHeader
            loginHeader.addEventListener("click", () => {
                wrapper.classList.add("active");
            });

            // Event listener for signupHeader
            signupHeader.addEventListener("click", () => {
                window.location.href = "{% url 'registration' %}";
            });
        </script>
    </section>
</body>
</html>
