{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url({% static 'images\1.png' %});">
    <div class="logo">
        <a href="{% static 'images/logoo.png' %}" data-lightbox="image-1">
            <img src="{% static 'images/logoo.png' %}" alt="RescueHub Logo">
        </a>
      </div>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>RescueHub</h3>
                <p>Rescue, Rebuild, Revitalize</p>
                <a href="{% url 'user_login' %}">
                <input type="submit" name="" value="Login"/><br/>
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="volunteer-tab" data-toggle="tab" href="#volunteer" role="tab" aria-controls="volunteer" aria-selected="true">Volunteer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="organisation-tab" data-toggle="tab" href="#organisation" role="tab" aria-controls="organisation" aria-selected="false">Organisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="relief-camp-tab" data-toggle="tab" href="#relief-camp" role="tab" aria-controls="relief-camp" aria-selected="false">Relief Camps</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    
                    <!-- Volunteer Form -->
                    <div class="tab-pane fade show active" id="volunteer" role="tabpanel" aria-labelledby="volunteer-tab">
                        <h3 class="register-heading">Register as a Volunteer</h3>
                        <form method="POST" action="{% url 'vregister' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row register-form">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full Name*" name="full_name" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput2">Date of Birth</label>
                                        <input type="date" class="form-control" id="exampleFormControlInput2" name="dob" placeholder="DOB" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" name="password" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password *" name="confirm_password" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" name="email" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" name="phone" class="form-control" placeholder="Your Phone *" required/>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="gender" required>
                                            <option class="hidden" selected disabled>Select your Gender</option>
                                            <option>Female</option>
                                            <option>Male</option>
                                            <option>Transgender</option>
                                            <option>Prefer not to say</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="address" placeholder="Address" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="address" placeholder="Photo" required></textarea> -->
                                        <label for="formFile" class="form-label">Choose your profile picture</label>
                                        <input class="form-control" type="file" id="formFile" name="image">
                                        </div> 
                                    <input type="submit" class="btnRegister" value="Register"/>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    
                    <!-- Organisation Form -->
                    <div class="tab-pane fade" id="organisation" role="tabpanel" aria-labelledby="organisation-tab">
                        <h3 class="register-heading">Apply as an Organisation</h3>
                        <form method="POST" action="{% url 'oregister' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name of the Organisation *" name="org_name" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name of Person of Contact *" name="contact_person" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email *" name="email" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" name="phone" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" name="password" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password *" name="confirm_password" required/>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="address" placeholder="Address" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="address" placeholder="Photo" required></textarea> -->
                                        <label for="formFile" class="form-label">Choose your profile picture</label>
                                        <input class="form-control" type="file" id="formFile" name="image">
                                        </div> 
                                    <input type="submit" class="btnRegister" value="Register"/>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    
                    <!-- Relief Camp Form -->
                    <div class="tab-pane fade" id="relief-camp" role="tabpanel" aria-labelledby="relief-camp-tab">
                        <h3 class="register-heading">Register as a Relief Camp</h3>
                        <form method="POST" action="{% url 'rregister' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name of the Camp *" name="camp_name" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name of Person of Contact *" name="contact_person" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email *" name="email" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" name="phone" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" name="password" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password *" name="confirm_password" required/>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="address" placeholder="Address" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="address" placeholder="Photo" required></textarea> -->
                                        <label for="formFile" class="form-label">Choose your profile picture</label>
                                        <input class="form-control" type="file" id="formFile" name="image">
                                        </div> 
                                    <input type="submit" class="btnRegister" value="Register"/>
                                </div>

                            </div>
                            
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>