{% extends 'Organisations/OrgBase.html' %} 
{% load static %}

{% block content %}
<div class="container">

    <h2 class="txt2 text-center mb-5">Accepted Volunteers</h2>
    {% if accepted_volunteers %}
        <div class="row">
            {% for volunteer in accepted_volunteers %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ volunteer.volunteer_id.vol_image.url }}" class="card-img-top" alt="{{ volunteer.volunteer_id.full_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ volunteer.volunteer_id.full_name }}</h5>
                            <p class="card-text"><strong>Address:</strong> {{ volunteer.volunteer_id.address }}</p>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="volunteer_id" value="{{ volunteer.volunteer_id.id }}">
                                <button type="submit" class="btn btn-primary" {% if volunteer_selected %}disabled{% endif %}>Choose</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No volunteers have accepted this task yet.</p>
    {% endif %}
</div>
{% endblock content %}
